.profile {
  display: flex;
  align-items: center;
  justify-content: center;
}
.profile-image {
  height: 70vh;
  width: 100%;
  position: relative;
  background: url("../assets/settings1.jpg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  flex: 1;
}

.details {
  flex: 1;
}
.details-container {
  border: 2px solid #22577e;
  max-width: 40rem;
  margin: 3rem auto;
  box-shadow: 5px 5px 20px 6px #a5d0cd;
  border-radius: 5px;
  padding: 1rem 2.5rem;
  display: flex;
  flex-direction: column;
}
.image-container {
  width: 12rem;
  margin: 1.5rem auto;
  cursor: pointer;
}
.image-container img {
  height: 12rem;
  width: 12rem;
  border-radius: 50%;
  border: 2px solid #5584ac;
  object-fit: cover;
}
.details-container label {
  font-size: 1.3rem;
  color: #7ca8ce;
}
.details-container input {
  font-size: 1.5rem;
  padding: 0.2rem 0.7rem;
  border: none;
  color: #1d4c6e;
  margin-bottom: 0.7rem;
}
.details-container input:hover,
.details-container input:focus {
  outline: none;
}
.details-container button {
  padding: 0.5rem;
  font-size: 1.2rem;
  color: #d1fffc;
  border: 2px solid #a5d0cd;
  border-radius: 5px;
  background: #22577e;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
}
.details-container button:hover {
  background-color: #cdfffc;
  color: #22577e;
  border: 2px solid #22577e;
}
@media screen and (max-width: 1000px) {
  .details {
    width: 100%;
    display: block;
    background: white;
  }
  .details-container {
    max-width: 40rem;
  }
  .profile {
    display: flex;
    background: url("../assets/settings1.jpg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .profile-image {
    display: none;
  }
}
